In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('vine-data.csv')

In [5]:
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R27ZP1F1CD0C3Y,5,0,0,N,Y
1,RJ7RSBCHUDNNE,5,0,0,N,Y
2,R1HVYBSKLQJI5S,5,0,0,N,Y
3,R2HAXF0IIYQBIR,1,0,0,N,Y
4,RNYLPX611NB7Q,5,0,0,N,Y

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149086 entries, 0 to 149085
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   review_id          149086 non-null  object
 1   star_rating        149086 non-null  int64
 2   helpful_votes      149086 non-null  int64
 3   total_votes        149086 non-null  int64
 4   vine               149086 non-null  object
 5   verified_purchase  149086 non-null  object
dtypes: int64(3), object(3)
memory usage: 6.8+ MB

In [7]:
#Filter data where total_votes is greater than or equal to 20
filtered_df = df.loc[df['total_votes'] >= 20]
print(filtered_df.head())

           review_id  star_rating  helpful_votes  total_votes vine  \
685   R36PQ9D8L2AAOH            5             30           32    N
1786  R23GHBE86II0SK            5             18           21    N
2020  R18KVPY0TO33BM            5            241          248    N
2429  R2ZB78BDM8BRCF            1             99          113    N
4971  R2JMJOWGM7V7NX            4             20           20    N

     verified_purchase
685                  Y
1786                 Y
2020                 Y
2429                 Y
4971                 N

In [8]:
#Filter the new Dataframe to create a new Dataframe where the number of helpful_votes divided by the number of total_votes is greater than or equal to 50%

helpful_votes_df = filtered_df.loc[(filtered_df['helpful_votes'] / filtered_df['total_votes']) >= 0.5]
helpful_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
685,R36PQ9D8L2AAOH,5,30,32,N,Y
1786,R23GHBE86II0SK,5,18,21,N,Y
2020,R18KVPY0TO33BM,5,241,248,N,Y
2429,R2ZB78BDM8BRCF,1,99,113,N,Y
4971,R2JMJOWGM7V7NX,4,20,20,N,N

In [12]:
# Filter Dataframe to determine whether or not review was part of the Vine program (paid)

vine_reviews = helpful_votes_df[helpful_votes_df['vine'] == 'Y']
vine_reviews.head(20)

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [13]:
# Filter Dataframe to determine whether or not review was part of the Vine program (unpaid)
non_vine_reviews = helpful_votes_df[helpful_votes_df['vine'] == 'N']
non_vine_reviews.head(20)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
685,R36PQ9D8L2AAOH,5,30,32,N,Y
1786,R23GHBE86II0SK,5,18,21,N,Y
2020,R18KVPY0TO33BM,5,241,248,N,Y
2429,R2ZB78BDM8BRCF,1,99,113,N,Y
4971,R2JMJOWGM7V7NX,4,20,20,N,N
6104,R10ORTN0I3G5B9,1,19,26,N,Y
6715,R1D1VPJBTP1WG8,1,38,51,N,Y
6994,R3Q3ULUTULAQYH,1,22,29,N,Y
7198,R1SHEELXA1IXQP,5,45,57,N,Y
7341,R1IQJ99JOPJOE4,5,73,94,N,N
7608,R32PHGNOUNJVY2,1,111,150,N,Y
7764,R32HQ18L7FOP3N,1,18,23,N,N
9166,R2IPGL0F4OCNO9,1,18,24,N,N
9405,R4RNS35ZXYWSU,2,52,59,N,Y
10513,R5S7HIQAWL5QS,5,48,49,N,Y
10652,R12LGU9RL181NG,1,5987,6323,N,Y
11042,R1ZMHE6AO0T6MO,5,67,75,N,N
11973,R66RKRKYK3VMO,5,74,89,N,Y
12175,R1SVG06BEMESM,5,92,126,N,Y
12403,R1Q5MWSSP3RMYJ,1,25,29,N,Y

In [14]:
# Total number of reviews
total_reviews = len(helpful_votes_df)
total_reviews

355

In [33]:
count_nonvine = len(non_vine_reviews)
count_nonvine

355

In [ ]:
count_vine = len(vine_reviews)
count_vine

0

In [ ]:
max_rating_nonvine = len(non_vine_reviews[non_vine_reviews['star_rating']==5])
max_rating_nonvine

90

In [ ]:
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

0

In [19]:
# Number of 5-star reviews Vine

vine_5_star = len(vine_reviews.loc[vine_reviews['star_rating'] == 5])
vine_5_star

0

In [18]:
# Number of 5-star reviews non-vine

non_vine_5_star = len(non_vine_reviews.loc[non_vine_reviews['star_rating'] == 5])
non_vine_5_star

90

In [31]:
# Percentage of 5-star review (paid)

vine_5_star_percent = vine_5_star/total_reviews * 100
print(vine_5_star_percent, '%')

0.0 %

In [24]:
# Percentage of 5-star review (unpaid)

non_vine_5_star_percent = non_vine_5_star/total_reviews * 100
print(non_vine_5_star_percent, '%')

25.352112676056336 %

In [32]:
rating_vine = max_rating_vine/count_vine
rating_vine

0.0

In [34]:
rating_nonvine = max_rating_nonvine/count_nonvine
rating_nonvine

0.2535211267605634